
@media screen and (max-width: 992px) {
  .dno {
    display: none;
  }

  html {
    font-size: 0.8rem; /* kleinere Schrift für Smarthpones und Tablets */
  }
}

@media screen and (min-width: 992px) {
  .dno2 {
    display: none; 
  }

  .mglthumb {
    border-radius: 25px;
  }
}