div.dataTables_wrapper div.dataTables_length select {
  width: auto;
  display: inline-block;
  /*padding: 0.5px 10px !important;*/
}

/* ---------------------------------------------------
    CARDS
----------------------------------------------------- */

.my-dash-card {
	position: absolute;
	left: 5%;
	top: -35px;
	border-radius: 0px;
}

/* ---------------------------------------------------
    TABS
----------------------------------------------------- */

.nav-tabs .nav-link {
  color: #fff;
  background-color: #325d88;
  border-color: #284A6C;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #284A6C #284A6C #284A6C;
}

.nav-tabs {
  border-bottom: 1px solid #284A6C;
}

/* ---------------------------------------------------
    BADGE Edit für Überschrift
----------------------------------------------------- */

.titlebadge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  background-position-y: -18px;
  background-position-y: 21px;
  top: 2px;
  left: 10px;
  position: relative;
}

.h1titlebadge {
  float: left;
}

.greentable th, .greentable td {
  border-color: #93C54B !important;
}